*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  font-family: "Poppins", sans-serif;
  background-color:'#fafafa';
  color: #0F172A;
}

::-webkit-scrollbar{
  display: none;
}